# deps
node_modules/
.pnpm-store/

# build
.next/
dist/
out/
build/
.turbo/

# test
coverage/

# env / secrets
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
npm-debug.log*
.idea/
.vscode/
*.tsbuildinfo
